<html xmlns:th="http://www.thymeleaf.org"


      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"


      layout:decorate="~{layout}">




    <body layout:fragment="body">

        <div class="container mt-2">
            <h3>Datos del Usuario</h3>

            <div class="row">
                <!-- Columna de la Card -->
                <div class="col-md-3">
                    <div class="card w-100">
                        <img class="card-img-top" src=".../100px180/" alt="Img del usuario">
                        <div class="card-body">
                            <h4 class="card-title">Detalle del Usuario</h4>
                            <p class="card-text">
                                <strong>UserName:</strong>
                                <span th:text="${usuario.username}"></span><br>
                                <strong>Nombre:</strong>
                                <span th:text="|${usuario.Nombre} ${usuario.ApellidoPaterno} ${usuario.ApellidoMaterno}|"></span><br>
                                <strong>Email:</strong>
                                <span th:text="${usuario.Email}"></span><br>
                                <strong>Fecha de Nacimiento:</strong>
                                <span th:text="${usuario.fechaNacimiento.substring(0, 10)}"></span><br>
                                <strong>Telefono:</strong>
                                <span th:text="${usuario.Telefono}"></span><br>
                                <strong>Curp:</strong>
                                <span th:text="${usuario.Curp}"></span>
                            </p>
                            <!-- CAMBIO: Botón para editar usuario -->
                            <a th:href="@{/Usuario/formEditable(idUsuario=${usuario.idUsuario})}" 
                               class="btn btn-primary w-100 mb-2">
                                Editar Usuario
                            </a>



                            <!-- CAMBIO: Botón para agregar dirección -->
                            <a th:href="|@{/Usuario/formEditable(idUsuario=${usuario.idUsuario}, idDireccion=0)}"
                               class="btn btn-success w-100">
                                Agregar Dirección
                            </a>


                        </div>
                    </div>
                </div>


                <div class="col-md-8">
                    <table class="table table-hover">
                        <thead class="table-dark">
                        <th class="col-2"> </th>
                        <th class="col-2">Calle</th>
                        <th class="col-1">Num Interior</th>
                        <th class="col-1">Num Exterior</th>
                        <th class="col-1">Colonia</th>
                        <th class="col-1">Codigo Postal</th>
                        <th class="col-1">Municipio</th>
                        <th class="col-1">Estado</th>
                        <th class="col-1">Pais</th>
                        </thead>
                        <div th:each="direccion, iterStat : ${usuario.Direccion}">
                            <tbody>
                                <tr>
                                    <td>
          
                                        <a th:href="@{/Usuario/formEditable(idUsuario=${usuario.idUsuario}, idDireccion=${direccion.idDireccion})}"
                                           class="btn btn-warning">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>


                                        <a class="btn btn-danger"><i class="bi bi-trash3-fill"></i></a>
                                    </td>
                                    <td><span th:text="${direccion.calle}"></span></td>
                                    <td><span th:text="${direccion.NumInterior}"></span></td>
                                    <td><span th:text="${direccion.NumExterior}"></span></td>
                                    <td><span th:text="${direccion.Colonia.Nombre}"></span></td>
                                    <td><span th:text="${direccion.Colonia.CodigoPostal}"></span></td>
                                    <td><span th:text="${direccion.Colonia.Municipio.Nombre}"></span></td>
                                    <td><span th:text="${direccion.Colonia.Municipio.Estado.Nombre}"></span></td>
                                    <td><span th:text="${direccion.Colonia.Municipio.Estado.Pais.Nombre}"></span></td>
                                </tr>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

